/************
General
************/

body {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  background-color: #404043;
  position: relative;  /* For scrollspy plugin */
  width: 100%;
  padding-top: 90px; /* Offset from fixed nav */
}

p {
  color: #333;
}


/************
NavBar
************/

/* Name styles */

#name {
  margin-top: 5px;
}

.navbar {
    min-height: 60px;
    margin-bottom: 20px;
}

.navbar li {
  margin-right: 5px;
}

.navbar-default {
  background-color: #fff;
  border-bottom: none;
  box-shadow: 1px 1px 2px #ccc;
}

.navbar-default .navbar-brand {
  font-family: "Abel", sans-serif;
  font-size: 40px;
  color: #333;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #093595;
    border-radius: 3px;
}

.navbar-nav>li>a {
    margin-top: 10px;
    padding: 10px 12.5px;
    min-width: 60px;
    text-align: center;
}


/************
Sections
************/

/* General Section Styles */

article {
  padding: 0 0 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 5px 5px 3px 3px;
  box-shadow: 1.5px 1.5px 3px 1.5px #303033;
}

article .articleHeading {
  background-color: #284f29;
  font-family: "Abel", sans-serif;
  border-radius: 3px 3px 0 0;
  margin: 0 0 20px;
  color: #fff;
  padding: 20px 30px 10px;
}

article .sectionMain {
  padding-left: 15px;
  padding-right: 15px;
}

article a {
  color: #1147b2;
}

.section-heading h3 a {
  font-size: 22px;
  margin-top: 10px;
}

.table>thead>tr>th {
  padding-bottom: 0;
  border-spacing: 40px;
}

.section-subheading {
  font-size: 20px;
}

.section-td {
  font-size: 17px;
}

.section-entry td:first-child {
  font-weight: 700;
  font-size: 19px;
  width: 15%;
}

.section-entry h3 {
  margin-bottom: 5px;
}

.table>tbody>tr>td {
  border: none;
}

tbody tr:first-child td{
  padding-top: 20px;
}


/* About */

#topContacts {
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 18px;
}

.contact-list li {
  display: inline-block;
  list-style: none;
  text-align: left;
  /*padding-left: 60px;*/
  padding-right: 100px;
}

.contact-list span {
  padding: 5px;
}

.contact-list .contact-category {
  color: #333;
  font-weight: 700;
}

.contact-information {
  color: #1147b2;
}

.welcome-message {
  font-size: 18px;
  color: #333;
  line-height: 28px;
}

#skills li {
  display: inline-block;
  padding-right: 20px;
}


/* Work */

.work-entry {
  margin-bottom: 15px;
}


/* Projects */

#projects img {
  margin: 10px 15px;
  padding-left: 0;
  padding-right: 0;
  width: 90%;
  border: 2px solid #ccc;
}

.projectGrid {
  list-style: none;
}

.project-entry a:first-child {
  margin-bottom: 10px;
}


/* Education */

.education-division-heading {
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 22px;
  margin-bottom: 0;
}

.online-courses-division {
  margin-top: 25px;
}

/* Locations - Where I've Lived and Worked */

#map {
  display: block;
  height: 350px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#mapDiv {
  height: 450px;
}

#mapDiv h2 {
  margin-bottom: 20px;
}


/************
Footer
************/

footer {
  margin-top: 10px;
  clear: both;
  background-color: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 1.5px -1.5px 3px 1.5px #303033;
}

#lets-connect {
  text-align: center;
}

/************
Media Queries
************/

@media screen and (min-width: 768px) {
  .project-entry p {
    margin-bottom: 30px;
  }

}

/* Bootstrap "small" breakpoint addition */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* By default do not display all clearfix divs */
  .visible-sm-block {
    display: none !important;
  }

  /* Reveal clearfix divs as needed depending on number of projects */
  #clearProject-2, #clearProject-4 {
    display: block !important;
  }
}

