@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



body {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  background-color: #404043;
}

/* Top Bar */

.top-bar {
  .name {
    padding-top: 5px;
    h1 {
      font-family: "Abel", sans-serif;
      font-size: 40px;
      color: #333;
      line-height: 48px;
      padding-left: 0;
    }
  }
}

.top-bar-section ul li {
  background-color: #fff;
  margin-right: 10px;
}

.top-bar-section ul li a {
  border-radius: 3px;

}

.top-bar .button {
  padding-bottom: 25px;
}

.top-bar-section ul li > a.button {
  background-color: #fff;
  color: #333;

}

.top-bar-section ul .active > a.button {
  background-color: #6F965D;
  background-color: #284f29;
  // background-color: #4A5C71;
  color: #fff;
}

.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
    background-color: #6F965D;
    background-color: #284f29;
  }

.button {
  transition: background-color 100ms ease-out;
}

.topbar-container, .top-bar {
  background-color: #fff;

}

.row:not(article row:first) {
  padding-left: 10px;
  padding-right: 10px;
}

.fixed {
   box-shadow: 1px 1px 1px 1px #eee;
}

// .fixed .at-top {
//   transition: height 0.2s ease-in-out;
//   height: 60px;
//   .name {
//     height: 60px;
//     padding-top: 5px;
//     transition: all 0.2s ease-in-out;
//   }
//   .top-bar-section li:not(.has-form) a:not(.button) {
//     line-height: 60px;
//     transition: line-height 0.2s ease-in-out;
//   }
// }

// .fixed .scrolling {
//   transition: height 0.2s ease-in-out;
//   height: 50px;
//   .name {
//     height: 50px;
//     padding-top: 0;
//     transition: all 0.2s ease-in-out;
//   }
//   .top-bar-section li:not(.has-form) a:not(.button) {
//     line-height: 50px;
//     transition: line-height 0.2s ease-in-out;
//   }
// }




.nav-bar-content {
  padding-top: 0;

}

nav {
  max-width: 1140px;
  margin: 0 auto;

}

.top-bar-section ul li {
  font-family: "Lato", sans-serif;
}


#name-area {
 color: #333;

}

#about {

  margin-top: 30px;
}

#topContacts {
  text-align: left;
  margin-bottom: 15px;
}



.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
  text-align: right;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 21px;
}




.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #333;
  line-height: 28px;
}


.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #0b2f79;
  color: #1147b2;
  font-size: 20px;
  font-weight: 700;
}

.white-text {
  font-weight: bold;
  color: #000;
}

.gray {
  background-color: #496F6F;
  background-color: #fff;
    // background-color: #637C5E;
    // background-color: #4A5C71;
}


.dark-gray {
  background-color: #4a4a4a;
}

header {
  background-color: #256246;
  background-color: #637C5E;
  background-color: #fff;
  color: #fff;
  padding-bottom: 0;

}





// #about {


//   clear: both;
//   background-color: #fbf9f8;
// }


#skills li, #topContacts li {
  display: inline-block;
}

article {
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 0 0 20px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 5px 5px 3px 3px;
  box-shadow: 1.5px 1.5px 3px 1.5px #303033;
  .articleHeading {
    background-color: #6F965D;
    background-color: #315835;
    background-color: #284f29;
    padding: 20px 20px 10px;
    font-family: "Abel", sans-serif;
    border-radius: 3px 3px 0 0;
    margin-top: 0;
    color: #fff;
  }
  a {
    color: #1147b2;
  }
}

.project-entry {
  // width: 30%;
  // float: left;
}

img {
  padding: 10px;
  width: 20%;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

#workExperience {
  clear: both;
}

#map {
  display: block;
  height: 100%;
padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  // margin: 0 5%;
}

#mapDiv {
  height: 500px;

  // width: 100%;
}

footer {
  margin-top: 70px;
  clear: both;
}